body {
	background-color: rgba(230, 236, 237, 0.8);
}

h1 {
	text-align: center;
	padding: 50px 0;
	font-size: 30px;
	margin: 0;
	font-weight: 200;
	color: #454545;
}

#button{
	display: inline-block;
	right: 0;
	background-color: #fc999b;
	color: #ffffff;
	border-radius: 5px;
	text-align: center;
	margin-top: 2px;
	padding: 5px 15px;
}

#button:hover{
	cursor: pointer;
	opacity: .8;
}

#add-todo{
	padding: 25px 0 0 0;
	font-size: 18px;
	font-weight: 400;
	color: #d8d8d8;
	display: inline-block;
	cursor: pointer;
}

#add-todo:hover{
	color:#6bc569;
	/*transition*/
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	transition:none;
}

/*#add-todo .fa-plus{
	font-size:14px;
	/*transition
	-webkit-transition:none;
	-moz-transition:none;
	-o-transition:none;
	transition:none;
}*/

.delete-item{
	display:block;
	position:relative;
	height:36px;
	width:36px;
	line-height:36px;
	right:0;
	top:0;
	text-align:center;
	color:#d8d8d8;
	opacity:0;
}

.todo-wrap:hover .delete-item{
	opacity:1;
}

.delete-item:hover{
	color:#cd4400;
}